<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
<style>
    main{
        text-align: center;
    }
</style>
    <title>login</title>
</head>
<body>
    <main> <h1> User Login </h1>
        <form method="post" action="/login">
            <input type="email" name="email" placeholder="email" value = "<%=locals.email%>"> 
            <input type="password" name="password" placeholder="password">
            <button type="submit" style="background: rgb(85, 217, 235); border-radius: 10px;"> login </button>
            <a href="/register"> Register</a>
            <p class="error"> <%= locals.message %> </p>
        </form>

    </main>
</body>
</html>