<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button{
            padding: 10px;
            background-color: rgba(255, 0, 0, 0.692);
            border: 2px solid black;
            border-radius: 10px;
        }
        body {
    background: linear-gradient(rgba(255, 145, 0, 0.719),rgba(248, 242, 242, 0.699),rgba(1, 131, 1, 0.712));
    text-align: center;
}
    </style>
    <title>Logout</title>
</head>
<body> 
    <h1>
    Hi! <%= name %> <br><hr style="background-color: red; height: 30px; border-radius: 50%;"> <h2>welcome to online Voting System</h2>
    </h1>
    <form action="/logout" method="get">
        <button type="submit">LogOut</button>
    </form>
</body>
</html>