* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 56vw;
    height: 100vh;
    margin: auto;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(245, 199, 223);
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 222, 231);
}
input{
    margin: 20px 10px;
    padding: 10px 10px;
    width: 80%;
}
button{
    margin: 20px 10px;
    padding: 10px 10px;
    width:50% ;

}
